html{
    margin: 0;
}
body{
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    font-size: xx-large;
    position: sticky;
    color: rgb(39, 39, 129);;
}
h1{
    margin: 0;
}
.head-top{
    display: flex;
    position: relative;
    left: 5%;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head-container{
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200% ;
}
a{
    text-decoration: none;
    color: white;
}
.header-block{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 129);;
}
.header-block:hover{
    background-color: rgb(35, 40, 146);
}
.berg-bild{
    position: absolute;
    padding-top: 3%;
    width: 100%;
    height: 70%;
    aspect-ratio: unset;
}
@media screen and (max-width:1280px){
    }
    .head-bild{
        padding-top: 0.5%;
        position: relative;
        left: -2%;
        width: 5%;
        height: 5%;   
    }
    .header-block{
        font-size: x-large;
    }
@media  screen and (max-width:1050px) {
    .head-bild{
        padding-top: 1.5%;
    }
    .header-block{
        font-size: large;
    }
}
@media screen and (max-width:540px){
    .head-top{
        font-size: small;
    }
    .header-block{
        font-size: xx-small;
    }
    .head-bild{
        padding-top: 0.3%;
    }
}
.ruta{
    display: flex;
    z-index: 10;
    position: relative;
    top: 25vh;
    left: 60%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
    height: 20%;
    h2 span{
        display: block;
    }
    h2{
        color:  rgb(35, 40, 146);
        .h2{
            font-size: xx-large;
        }
        .p{
            color: black;
            font-size: large;
        }
        
    }

    

}

.footer{
    margin-top: 100%;
    background-color: rgb(39, 39, 129);;
    width: 100%;
    height: 35vh;
}