html{
    margin: 0;
}
body{
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    position: sticky;
    font-size: xx-large;
    color: blue;
}
.head-top{
    position: absolute;
    left: 10%;
}

.head-container{
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    grid-template-rows: auto auto auto auto;
}
a{
    text-decoration: none;
    color: white;
}
.header-block{
    color: white;
    text-align: center;
    font-size: xx-large;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    background-color: blue;
}
.header-block:hover{
    background-color: rgb(39, 39, 129);
}
