html{
    margin: 0;
}
body{
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    font-size: xx-large;
    position: sticky;
    color: rgb(39, 39, 129);;
}
.head-top{
    display: flex;
    position: relative;
    left: 5%;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head-bild{
    padding-top: 3%;
    width: 5%;
    height: 5%;
    position: relative;
    left: -2%;
    
}
.head-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200% ;
}
a{
    text-decoration: none;
    color: white;
}
.header-block{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 129);;
}
.header-block:hover{
    background-color: rgb(35, 40, 146);
}

